@import url(responsive.css);
@import url(font-awesome/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

h2, h3 {
    line-height: 21px
}

#profile_data, body, h4, h5 {
    line-height: 20px
}

h1#profile_title, h1#profile_title .firstname {
    text-transform: uppercase
}

body.dark {
    background-color: #141414;
    color: #878787
}

#profile_data .profile_row a:hover, a:hover, body {
    color: #646464
}

.dark #main {
    border-color: #1e1e1e;
    background: #282828
}

.dark #profile_photo, .section_header {
    border-color: #3b3b3b
}

.dark #mainpage_accordion_area .section_header:hover {
    background-color: #232323
}

.dark #mainpage_accordion_area .section_header .section_title:hover {
    background: #232323
}
.dark .section_header {
    border-color: #3b3b3b;
}
.green,
.section_header .section_title.resume_section_title a span.icon,
#resume_link,
#resume_link span.label,
#resume_link span.icon ,
.section_header.gallery .section_title strong span.section_name,
.section_header.gallery .section_title strong span.icon {
    background-color: #6ca338;
}
.yellow,
.section_header .section_title.portfolio_section_title a span.icon,
.section_header.audio .section_title strong span.section_name,
.section_header.audio .section_title strong span.icon {
    background-color: #ffbc38;
}
.blue,
#blog_page_link,
#blog_page_link .icon,
#blog_page_link span.label,
.section_header .section_title a span.icon,
.section_header .section_title strong span.icon,
.blog_section .section_header .section_title .section_name  {
    background-color: #327ea3;
}
a, body, div, h1, h2, h3, h4, h5, html, iframe, li, span, ul {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}

html {
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    background: #f4f4f4;
    font-family: Lato, sans-serif;
    font-size: 14px
}

h1, h2, h3, h4, h5 {
    margin-bottom: 10px
}

h1 {
    font-size: 20px;
    line-height: 24px
}

h2 {
    font-size: 18px
}

h3 {
    font-size: 17px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 15px
}

::selection {
    background: #4ca5d0;
    color: #fff
}

::-moz-selection {
    color: #fff;
    background: #4ca5d0
}

a {
    color: #4ca5d0
}

#googlemap_data .add_info, #profile_photo, .section_header .section_title a span.icon:before {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

#page {
    width: 940px
}

#header {
    overflow: hidden;
    margin-bottom: 21px
}

#header .social_links {
    margin-right: 57px
}

#header .social_links li {
    list-style: none;
    float: left;
    margin-left: 13px
}

#resume {
    position: relative
}

#main {
    width: 820px;
    margin-left: 60px;
    background: #fff
}

#main:after {
    clear: both;
    display: block;
    content: "";
    width: 100%
}

.section_header {
    border-top: 1px solid #e5e5e5
}

#profile_data .show, .opened #profile_position, .section_header .section_title a {
    display: block
}

.section_header.opened .section_title:after {
    clear: both;
    width: 100%;
    content: "";
    display: block
}

.section_header .section_title .section_name {
    font-size: 19px
}

.section_header .section_title a span.icon {
    position: absolute;
    top: 0;
    left: -60px;
    display: block;
    width: 60px;
    height: 60px;
    font-weight: 400;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

.section_header.profile_section_header .section_title a span.icon {
    width: 60px
}

.section_header .section_title a span.icon:before {
    font-size: 28px;
    color: #fff;
    width: 60px;
    height: 41px;
    padding-top: 13px;
    text-align: center;
    line-height: normal;
    text-indent: 1px;
    display: block;
    top: 3px;
    left: 0;
    position: absolute;
    z-index: 999;
    vertical-align: baseline
}

.section_header .section_title.resume_section_title a span.icon:before {
    padding-top: 14px;
    height: 40px
}

.section_header .section_title.portfolio_section_title a span.icon:before {
    padding-top: 15px;
    height: 39px
}

.section_header .section_title.contact_section_title a span.icon:before {
    padding-top: 12px;
    height: 42px
}

#mainpage_accordion_area .section_header {
    height: 60px
}

#mainpage_accordion_area .section_header .section_title:hover {
    background: #fafafa;
    cursor: pointer
}

#mainpage_accordion_area .section_header .section_name {
    position: relative;
    z-index: 999;
    height: 60px;
    line-height: 59px;
    display: block;
    padding: 0 29px;
    text-align: center;
    color: #646464;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

.section_header.profile_section_header .section_title .section_name {
    display: block;
    height: 60px;
    overflow: hidden;
    position: relative;
    line-height: 59px;
    text-align: center;
    width: 135px
}

.section_header .section_title .section_name:after {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 1px
}

.section_header.opened .section_title .section_name:after {
    background-position: 0 0
}

#profile_header {
    clear: both;
    padding: 0 30px;
    overflow: hidden
}

.opened #profile_header {
    padding-top: 30px
}

#profile_data {
    opacity: 0;
    position: relative;
    right: -30px;
    padding: 2px 10px 0 0;
    overflow: hidden;
    float: right;
    width: 310px;
    font-size: 12px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

.opened #profile_data {
    height: auto;
    right: 0;
    opacity: 1;
    -webkit-transform: rotate(0);
    -webkit-transform-origin: 100% 100%;
    transform: rotate(0);
    transform-origin: 100% 100%
}

#profile_user {
    overflow: hidden;
    float: left;
    width: 100%;
    max-width: 425px
}

#profile_photo {
    margin-right: 20px;
    border: 4px solid #e5e5e5;
    float: left;
    width: 87px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.opened #profile_photo {
    width: 117px
}

#profile_photo img {
    width: 100%;
    vertical-align: top;
    height: auto
}

#profile_name_area {
    overflow: hidden
}

.opened #profile_name_area {
    padding-top: 15px
}

h1#profile_title {
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    color: #373737;
    margin-bottom: 0
}

#profile_position {
    font-size: 18px;
    line-height: 20px;
    color: #4ca5d0
}

.profile_section_body {
    padding: 24px 30px 56px
}

#mainpage_accordion_area .section_body {
    padding: 25px 30px 56px;
    display: none;
    position: relative;
    overflow: hidden
}

#mainpage_accordion_area .section_body.contact_section_body {
    padding-bottom: 30px
}

#googlemap_data {
    margin-top: 5px;
    margin-bottom: 30px;
    position: relative
}

#googlemap_data .add_info {
    position: absolute;
    width: 190px;
    top: 30px;
    right: 30px;
    background: #fff;
    padding: 26px 30px 20px
}

#googlemap_data .add_info .profile_row {
    overflow: hidden;
    margin-bottom: 10px;
    display: none
}

#googlemap_data .profile_row.header {
    font-size: 14px;
    line-height: 17px;
    height: 26px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    padding-bottom: 7px;
    margin-bottom: 19px;
    border-bottom: 1px solid #e5e5e5;
    display: block
}

#profile_data .th {
    font-weight: 700;
    width: 90px;
    margin-right: 10px;
    text-align: right;
    display: block;
    float: left;
    color: #373737
}

#profile_data .td {
    overflow: hidden;
    display: block
}

#profile_data .profile_row {
    overflow: hidden;
    display: none
}

#profile_data .profile_row a {
    text-decoration: none;
    color: #4ca5d0
}

.section_header.opened #profile_data {
    margin-top: 0
}